body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* A barra de navegação lá em cima */
.navbar {
    overflow: hidden;
    background-color: #d70000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff0000;
}

/* Ajustes para a largura da página sem alterar a posição dos elementos */
header {
    text-align: center;
    padding: 10px;
    background-color: #0056b3;
}

.footer {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

.footer .contact-info,
.footer .social-links,
.footer .copyright {
    margin: 10px auto;
    max-width: 1000px;
}

.footer .social-links a {
    color: rgb(255, 0, 0);
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
}

.footer .social-links a:hover {
    text-decoration: underline;
}

.cursos a {
    color: #ff0000;
    flex-direction: column;
    display: flex;
}

.logo img {
    width: 70px;
    border-radius: 50%;
    height: 70px;
    border: 1px solid rgb(0, 0, 0);
}

.logo {
    display: flex;
    position: absolute;
    left: 20px;
    top: 70px;
    width: 150px;
    height: auto;
}

.sobre img {
    width: 500px; /* Mantido tamanho fixo para garantir consistência */
}

.sobre {
    text-align: center;
}

.container {
    display: flex;
    justify-content: end;
    flex-direction: column;
    z-index: 890;
}

.h1{

    display: flex;
    justify-content: flex-end;
    padding-right: 130px;
    top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container h1 {
    display: flex;
    justify-content: flex-end;
    padding-right: 130px;
    z-index: 890;
    padding-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Button_home1 {
    position: absolute;
    right: 170px;
    top: 590px;
    display: flex;
    justify-content: flex-end;
}

.Button_home1 .button {
    border: none;
    color: rgb(255, 0, 0);
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 25px;
    border: 2px solid red;
}

.Button_home1 .button:hover {
    background-color: #ff0000;
    color: white;
}

.imags {
    margin-top: 5px;
    text-align: right;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s;
    margin: 10px;
}

.course-card:hover {
    transform: scale(1.05);
}

.course-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.course-content {
    padding: 15px;
}

.course-title {
    font-size: 1.5em;
    margin: 0;
    color: #333;
}

.course-description {
    font-size: 1em;
    color: #666;
}

.course-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #ff0000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.course-button:hover {
    background-color: #ffffff;
}

.imags img {
    width: 470px; /* Mantido tamanho fixo */
    height: auto;
    z-index: 900;
    margin-top: -145px;
    margin-right: 490px;
    border: 2px solid red;
}

.destaques_img {
    justify-content: center;
    padding: 180px;
    background-color: #000000;
    margin-top: -80px;
}

.destaques {
    justify-content: center;
    text-align: center;
}

.title {
    display: flex;
    position: absolute;
    z-index: 50;
    color: rgb(255, 255, 255);
    top: 790px; /* Mantido tamanho fixo */
    left: 510px; /* Mantido posição fixa */
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-size: 35px;
    overflow: hidden;
}

.image-container {
    background-image: url("https://scontent.fgru6-1.fna.fbcdn.net/v/t1.6435-9/76651668_2500059620099120_2042647606588342272_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=2a1932&_nc_ohc=0DEjtj_1kBEQ7kNvgH1dI87&_nc_ht=scontent.fgru6-1.fna&oh=00_AYCBtyf11mFGLbYdOXElD6yVVSCA7idlyTCoXg-8a9nXhQ&oe=66E45F81");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    position: relative;
}

h2{

    color: rgb(0, 0, 0);
    text-align: center;

}

.parmera{
    justify-content: space-between;
    display: flex;
    padding: 10px;
    text-align:start;
}